@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

$bodyFont: 'Quicksand', sans-serif;

.body {
  font-family: $bodyFont;
}

.mode-swap {
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 1;
  right: 1.25vw;
  top: 1.25vw;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
