* {
  margin: 0;
  padding: 0;
}


// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


// GLOBAL VARS
$mainBackground: linear-gradient(290deg, #a300a8, #4602b3);

$bodyFont: "Rubik";
$headFont: 'Montserrat', sans-serif;


// MAIN SCSS
body {
  background: $mainBackground;
  font-family: $bodyFont;
  background-size: 200% 200%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.App {
  margin: 50px;
}


// Header
.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.greeting {
  font-family: $headFont;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.clock {
  font-family: $bodyFont;
  color: rgb(228, 211, 248);
  font-size: 60px;
  margin-top: -20px;
  text-shadow: 3px 3px black;
}