* {
  margin: 0;
  padding: 0;
}


// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


// GLOBAL VARS
$colourA: #a300a8;
$colourB:  #4602b3;
$colorBorder: rgb(239, 173, 255);
$mainBackground: linear-gradient(290deg, $colourA, $colourB);

$bodyFont: "Rubik";
$headFont: 'Montserrat', sans-serif;
$calcFont: 'Roboto', sans-serif;


// MAIN SCSS
body {
  background: $mainBackground;
  font-family: $bodyFont;
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 0%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.App {
  margin: 50px;
}


// Header
.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.greeting {
  font-family: $headFont;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.clock {
  font-family: $bodyFont;
  color: rgb(228, 211, 248);
  font-size: 50px;
  margin-top: -10px;
  text-shadow: 3px 3px black;
}


// Main Container
.main-container {
  display: flex;
  gap: 100px;
}

// Container row 1
.spotify {
  color: white;
}


// Timer Component
.timer-container {
  width: 125px;
  height: 100px;
}

.timer{
  color:white;

  border-width: 4px;
  border-style: solid;
  border-color: $colorBorder ;
  border-radius: 20px;

  padding: 25px;
  width: 125px;
  height: 100px;
  justify-content: center;
  text-align: center;

  p {
    font-size: 30px;
    text-shadow: 2px 2px black;
  }

  button{
    background:none;
    border: none;
    cursor: pointer;
  }
}

// Calculator Component 
.calculator-container {
  border-width: 4px;
  border-style: solid;
  border-color: $colorBorder;
  border-radius: 20px;

  padding: 30px;
  width: 200px;
  justify-content: center;
  text-align: center;

  .calcHead {
    color: white;
    text-shadow: 2px 2px black;
  }

  .result{
    text-align: right;
    padding-right: 10px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
  }

  .button {
    button {
      height: 50px;
      width: 50px;
      font-family: $calcFont;
      font-size: 15px;
    }
    .calcFR {
      color: white;
      background-color: #4602b3;
    }
  }
}

// Task Tracker

.task-container {
  border-width: 4px;
  border-style: solid;
  border-color: $colorBorder;
  border-radius: 20px;

  padding: 30px;
  width: 350px;
  justify-content: center;
  text-align: center;

  color: white;
  font-size: 30px;
}

.taskText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 23px;
  text-align: left;
}

.taskBody{
  text-align: left;
  font-size: 18px;
}

// Add Tasks
.addTask-container {
  border-width: 3px;
  border-style: solid;
  border-color: $colorBorder;
  border-radius: 20px;

  padding: 20px;
  width: 280px;
  justify-content: center;
  text-align: center;
}

.addTaskForm {
  font-size: 20px;
  color: white;
  font-family: $calcFont;

  input {
    background: none;
    border: 2px solid $colorBorder;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: inherit;
  }

  .formBtn{
    background: rgb(154, 102, 221);
    color: white;
    border: 2px solid $colorBorder;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
  }

  #infoBox {
    height: 40px;
  }

}

.task {
  line-height: 120%;
  font-size: 18px;
  font-style: normal;

}

// Youtube Player
.youtube-player{
  border-width: 4px;
  border-style: solid;
  border-color: $colorBorder;
  border-radius: 20px;

  padding: 20px;
  width: 560px;
  height: 310px;
  justify-content: center;
  text-align: center;

  color: white;
  text-shadow: 2px 2px black;
  font-size: 30px;
}
