* {
  margin: 0;
  padding: 0;
}


// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


// GLOBAL VARS
$colourA: #a300a8;
$colourB:  #4602b3;
$mainBackground: linear-gradient(290deg, $colourA, $colourB);

$bodyFont: "Rubik";
$headFont: 'Montserrat', sans-serif;


// MAIN SCSS
body {
  background: $mainBackground;
  font-family: $bodyFont;
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 0%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.App {
  margin: 50px;
}


// Header
.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.greeting {
  font-family: $headFont;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.clock {
  font-family: $bodyFont;
  color: rgb(228, 211, 248);
  font-size: 50px;
  margin-top: -10px;
  text-shadow: 3px 3px black;
}

// Container row 1
.spotify {
  color: white;
}

.timer{
  color:white;

  border-width: 2px;
  border-style: solid;
  border-color: $colourA $colourB $colourA $colourB;

  padding: 30px;
  width: 100px;
  justify-content: center;
  text-align: center;

  p {
    font-size: 30px;
    text-shadow: 2px 2px black;
  }

  button{
    background:none;
    border: none;
    cursor: pointer;
  }
}